.main-container{
    display: flex;
    flex-direction: row;
    background-color: red !important;
    color: red !important;
}

.card {
    margin: 20px;
}
.card-body{
    text-align: center;
    background-color: lightgray;
}

.product-form{
    margin: 50px;
    width: 500px;
}

.form-control{
    display: none;
    color: red;
}

.switchable{
    color: red;
    
}

.test{
    color: red;
}
