body{
    margin: 1em;
}

.header{
    display: grid;
    grid-template-columns: auto  14% 14%;
    grid-gap: 10px;
    padding: 0.5em;
    margin-bottom: 1em;
    border-bottom: 2px solid gray;
}
.footer{
    text-align: center;
    margin-top: 1em;
    padding-top: 1em;
    border-top: 2px solid gray;
}


.main-container-prod{
    //padding: 1em;
    //display: flex;
    //flex-wrap: wrap;
    //flex-direction: row;
    display: grid;
    grid-template-columns: auto auto auto auto;
    //min-height: 70vh;   
    
}
.main-container-add{
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 70vh;   
}

.item1 { grid-area: check; }
.item2 { grid-area: sku; }
.item3 { grid-area: name; }
.item4 { grid-area: price; }
.item5 { grid-area: dscr; }

.card-body{
    background-color: grey;
    text-align: center;
    display: grid;
    grid-template-columns: 10% 85%;
    grid-template-areas:
    'check sku'
    'check name'
    'check price'
    'check dscr';
    margin: 1em;
}

.form-group{
    display: grid;
    grid-template-columns: 10vw  30vw ;
    grid-gap: 10px;
}
.form-info{
    color: darkolivegreen;
    margin-left: 1em;
}
.error{
    color: red;
}

.btn {
    margin: 0 20px !important;
    float: right;
}

