body{
    margin: 1em;
}


.main-container1{
    padding: 1em;
    display: grid;
    grid-template-columns: auto  auto auto auto; 
    grid-gap: 10px;
    min-height: 70vh;   
}
.main-container{
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 70vh;   
}

.header{
    display: grid;
    grid-template-columns: auto  14% 14%;
    grid-gap: 10px;
    padding: 0.5em;
    margin-bottom: 1em;
    border-bottom: 2px solid gray;
}
.form-group{
    display: grid;
    grid-template-columns: 10vw  30vw ;
    grid-gap: 10px;
}
.footer{
    text-align: center;
    margin-top: 1em;
    padding-top: 1em;
    border-top: 2px solid gray;
}

.card-body{
    background-color: lightgrey;
    text-align: center;
    margin: 0.5em;
    padding: 1em;
}

.card-body input {
  background: green;
  position: relative;
  right: 90%;
  top: 90%;   
}
.btn {
    margin: 0 20px !important;
    float: right;
}
span{
    color: red;
    margin-left: 1em;
}